@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AutoTra.Models.ItemModel
@{
    ViewData["Title"] = "Add Inspection Item Data";
    var httpcontext = ViewContext.HttpContext;
    string role = httpcontext.Session.GetString("Role");
    if (string.IsNullOrEmpty(role))
    {
        // Session is expired or role is not set, redirect to login layout
        Layout = "~/Views/Shared/Layoutlogin.cshtml";

        <script>
            window.location.href = '@Url.Action("Index", "Home")';
        </script>

        return;
    }
    Console.WriteLine("Role: " + role);
    if (role == "admin")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card-body">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            <span><strong>Failed!</strong></span>@TempData["ErrorMessage"]
                        </div>
                    }
                    <br />
                    <form method="post" asp-controller="Item" asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="id_item" type="hidden" class="form-control" id="id_item">
                        <div class="form-group">
                            <label for="nama" class="control-label">Inspection Item</label>
                            <input asp-for="item_pemeriksaan" class="form-control" id="item_pemeriksaan">
                            <span asp-validation-for="item_pemeriksaan" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="kategori_pemeriksaan" class="control-label">Inspection Category</label>
                            <input asp-for="kategori_pemeriksaan" class="form-control" id="kategori_pemeriksaan">
                            <span asp-validation-for="kategori_pemeriksaan" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="standart_pemeriksaan" class="control-label">Inspection Standart</label>
                            <input asp-for="standart_pemeriksaan" class="form-control" id="standart_pemeriksaan">
                            <span asp-validation-for="standart_pemeriksaan" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <br />
                            <label for="metode_inspeksi" class="control-label">Inspection Method :</label><br />
                            <input type="radio" value="Appearance" asp-for="metode_pemeriksaan" id="inspAppearance" />
                            <label for="inspAppearance">Appearance</label><br />
                            <input type="radio" value="Function" asp-for="metode_pemeriksaan" id="inspFunction" />
                            <label for="inspFunction">Function</label><br />
                            <input type="radio" value="Appearance and Function" asp-for="metode_pemeriksaan" id="inspBoth" />
                            <label for="inspBoth">Appearance and Function</label><br />
                            <span asp-validation-for="metode_pemeriksaan" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                        <div class="form-group">
                            <input type="hidden" asp-for="status" class="form-control" id="status" value="1">
                            <span asp-validation-for="status" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" title="Submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validateNumberInput(input) {
        // Hapus karakter selain angka
        input.value = input.value.replace(/\D/g, '');

        // Pastikan panjang tidak melebihi 15 karakter
        if (input.value.length > 15) {
            input.value = input.value.slice(0, 15);
        }
    }
</script>