@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AutoTra.Models.KategoriModel
@{
    ViewData["Title"] = "Add Inspection Category Data";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card-body">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            <span><strong>Failed!</strong></span>@TempData["ErrorMessage"]
                        </div>
                    }
                    <br />
                    <form method="post" asp-controller="Kategori" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="nama" class="control-label">Inspection Category</label>
                            <input asp-for="nama" class="form-control" id="nama">
                            <span asp-validation-for="nama" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="status" class="form-control" id="status" value="1">
                            <span asp-validation-for="status" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#nama').on('blur', function () {
            var inputVal = $(this).val();
            if (inputVal !== '') {
                $.ajax({
                    url: '/Kategori/CheckNamaExist',
                    type: 'GET',
                    data: { nama: inputVal },
                    success: function (result) {
                        if (result.exists) {
                            alert('Description Inspection Category was added');
                            $('#nama').val('');
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    });
</script>