@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AutoTra.Models.MobilModel
@{
    ViewData["Title"] = "Add Vechile Data";
    var httpcontext = ViewContext.HttpContext;
    string role = httpcontext.Session.GetString("Role");
    if (string.IsNullOrEmpty(role))
    {
        // Session is expired or role is not set, redirect to login layout
        Layout = "~/Views/Shared/Layoutlogin.cshtml";

        <script>
            window.location.href = '@Url.Action("Index", "Home")';
        </script>

        return;
    }
    Console.WriteLine("Role: " + role);
    if (role == "admin")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (role == "Dosen")
    {
        Layout = "~/Views/Shared/LayoutDosen.cshtml";
    }
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card-body">
                    <form method="post" asp-controller="Mobil" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="jenis_mobil" class="control-label">Vechile Type</label>
                            <select asp-for="jenis_mobil" class="form-control" id="jenis_mobil" onchange="handleVehicleTypeChange()">
                                <option value="null">-- Select Vechile Type --</option>
                                <option value="Non Asset">Non Asset</option>
                                <option value="Asset">Asset</option>
                            </select>
                            <span asp-validation-for="jenis_mobil" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="nama" class="control-label">Vechile Model</label>
                            <input asp-for="nama" class="form-control" id="nama">
                            <span asp-validation-for="nama" class="text-danger"></span>
                        </div>
                        <div class="vin-input">
                            <label for="vin" class="control-label">VIN (Vehicle Identification Number)</label>
                            <div class="vin-boxes">
                                <!-- Perubahan pada input VIN -->
                                <input asp-for="vin" type="hidden" id="vin" name="vin"  />
                                @for (var i = 0; i < 17; i++)
                                {
                                    <input class="vin-box" type="text" maxlength="1" oninput="autoCapsLock(this)" onkeyup="moveToNextInput(this, event)" />
                                }
                            </div>
                            <span asp-validation-for="vin" class="text-danger" data-valmsg-for="vin" data-valmsg-replace="true"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="no_engine" class="control-label">Engine Number</label>
                            <input asp-for="no_engine" class="form-control" id="no_engine">
                            <span asp-validation-for="no_engine" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="warna" class="control-label">Vechile Color</label>
                            <input asp-for="warna" class="form-control" id="warna">
                            <span asp-validation-for="warna" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="kilometer" class="control-label">Kilometer</label>
                            <input asp-for="kilometer" class="form-control" id="kilometer">
                            <span asp-validation-for="kilometer" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="bahan_bakar" class="control-label">Fuel</label>
                            <select asp-for="bahan_bakar" class="form-control" id="bahan_bakar" required>
                                <option value="null">=== Choose Type of Fuel ===</option>
                                <option value="Gasoline">Gasoline</option>
                                <option value="Diesel">Diesel</option>
                                <option value="Hybrid">Hybrid</option>
                                <option value="Electric">Electric</option>
                            </select>
                            <span asp-validation-for="bahan_bakar" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display: none;">
                            <label for="status" class="control-label">Status</label>
                            <input asp-for="status" class="form-control" id="status" value="1">
                            <span asp-validation-for="status" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" title="Submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <style>
        .vin-input {
            width: fit-content;
        }

        .vin-boxes {
            display: flex;
            gap: 9px;
        }

        .vin-box {
            width: 30px;
            height: 30px;
            text-transform: uppercase;
            text-align: center;
            border: 1px solid #ccc;
        border-radius: 3px;
        }
        .vin-box:focus{
            outline:none;
            border: 1px solid #4283db;
            border-radius: 3px;
        }

    .vin-box::placeholder {
        opacity: 20px;
    }
    </style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        handleVehicleTypeChange();
    });

    function validateNumberInput(input) {
        // Hapus karakter selain angka
        input.value = input.value.replace(/\D/g, '');

        // Pastikan panjang tidak melebihi 15 karakter
        if (input.value.length > 15) {
            input.value = input.value.slice(0, 15);
        }
    }

    function autoCapsLock(input) {
        input.value = input.value.toUpperCase();
        moveToNextInput(input, event); // Tambahkan objek event di sini
    }

    function moveToNextInput(input, event) {
        var key = event.key || String.fromCharCode(event.keyCode || event.which);

        if (key === 'Backspace' || key === 'Delete') {
            var inputs = document.querySelectorAll('.vin-box');
            var currentInput = input;

            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i] === currentInput) {
                    if (i > 0 && currentInput.value === "") {
                        inputs[i - 1].focus();
                    }
                    break;
                }
            }
        } else {
            var inputs = document.querySelectorAll('.vin-box');
            var currentInput = input;

            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i] === currentInput) {
                    if (i < inputs.length - 1 && currentInput.value !== "") {
                        inputs[i + 1].focus();
                    }
                    break;
                }
            }
        }

        var vinValue = "";
        inputs.forEach(function (inp) {
            vinValue += inp.value;
        });

        document.getElementById('vin').value = vinValue;
    }

    function handleVehicleTypeChange() {
        var vehicleTypeDropdown = document.getElementById('jenis_mobil');
        var vinInput = document.getElementById('vin');
        var vinBoxes = document.querySelectorAll('.vin-box');
        var vinValidationSpan = document.querySelector('[data-valmsg-for="vin"]');

        // Check if the selected Vehicle Type is "Non Asset"
        if (vehicleTypeDropdown.value === 'Asset') {
            // Set VIN input readonly
            vinBoxes.forEach(function (box) {
                box.setAttribute('readonly', 'readonly');
            });

            // Clear VIN input values
            vinBoxes.forEach(function (box) {
                box.value = '';
            });

            // Hide validation message
            vinValidationSpan.innerText = '';
        } else {
            // Remove readonly attribute from VIN input
            vinBoxes.forEach(function (box) {
                box.removeAttribute('readonly');
            });
        }
    }

</script>


