@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/LayoutPIC.cshtml";
}

<div class="container-md" style="padding:40px;background-color:#f3f3f3;">
    <div class="container-fluid">

<h1 style="padding-bottom:10px;">Welcome, ASTRAtech Academics!</h1>
        <p class="lead">This is the home page of AutoTra Maintenance & Service, please access the menu available on the menu bar on the left side of the page.</p>
</div>
</div>
